<a href="https://colab.research.google.com/github/Cal-0/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/DS-Unit-1-Sprint-2-Statistics/module1/Copy_of_LS_DS_121_Statistics_Probability_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

Your assignment is to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records). The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

Your goals:

1. Load and clean the data (or determine the best method to drop observations when running tests)
2. Using hypothesis testing, find an issue that democrats support more than republicans with p < 0.01
3. Using hypothesis testing, find an issue that republicans support more than democrats with p < 0.01
4. Using hypothesis testing, find an issue where the difference between republicans and democrats has p > 0.1 (i.e. there may not be much of a difference)

Note that this data will involve *2 sample* t-tests, because you're comparing averages across two groups (republicans and democrats) rather than a single group against a null hypothesis.

Stretch goals:

1. Refactor your code into functions so it's easy to rerun with arbitrary variables
2. Apply hypothesis testing to your personal project data (for the purposes of this notebook you can type a summary of the hypothesis you formed and tested)

In [0]:
### YOUR CODE STARTS HERE

In [0]:
import numpy as np
import pandas as pd

In [0]:
from scipy.stats import ttest_ind

In [3]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2019-11-04 21:51:22--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.1s

2019-11-04 21:51:23 (138 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [0]:
column_headers = ['party','handicapped-infants','water-project',
                          'budget','physician-fee-freeze', 'el-salvador-aid',
                          'religious-groups','anti-satellite-ban',
                          'aid-to-contras','mx-missile','immigration',
                          'synfuels', 'education', 'right-to-sue','crime','duty-free',
                          'south-africa']

In [0]:
df = pd.read_csv('house-votes-84.data', 
                 header=None, 
                 names=column_headers,
                 na_values="?")

In [6]:
df.head()

        party handicapped-infants water-project  ... crime duty-free south-africa
0  republican                   n             y  ...     y         n            y
1  republican                   n             y  ...     y         n          NaN
2    democrat                 NaN             y  ...     y         n            n
3    democrat                   n             y  ...     n         n            y
4    democrat                   y             y  ...     y         y            y

[5 rows x 17 columns]

In [0]:
df = df.replace({'y': 1, 'n': 0})

In [0]:
rep = df[df['party']=='republican']
dem = df[df['party']=='democrat']

In [9]:
dem.head()

      party  handicapped-infants  water-project  ...  crime  duty-free  south-africa
2  democrat                  NaN            1.0  ...    1.0        0.0           0.0
3  democrat                  0.0            1.0  ...    0.0        0.0           1.0
4  democrat                  1.0            1.0  ...    1.0        1.0           1.0
5  democrat                  0.0            1.0  ...    1.0        1.0           1.0
6  democrat                  0.0            1.0  ...    1.0        1.0           1.0

[5 rows x 17 columns]

In [10]:
rep.head()

         party  handicapped-infants  ...  duty-free  south-africa
0   republican                  0.0  ...        0.0           1.0
1   republican                  0.0  ...        0.0           NaN
7   republican                  0.0  ...        NaN           1.0
8   republican                  0.0  ...        0.0           1.0
10  republican                  0.0  ...        0.0           0.0

[5 rows x 17 columns]

In [11]:
ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit')

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)

In [14]:
print (ttest_ind(rep['budget'], dem['budget'], nan_policy='omit'))
print(dem['budget'].mean())
print(rep['budget'].mean())

Ttest_indResult(statistic=-23.21277691701378, pvalue=2.0703402795404463e-77)
0.8884615384615384
0.13414634146341464

In [0]:
# The means suggest that the dems voted for the bill in a much
# higher proportion than the reps and the p -value is very
#small suggesting that we can be very confident in the results
# I can reject the null hypothesis
# This fulfillls the requirement of part 2

In [15]:
print (ttest_ind(rep['aid-to-contras'], dem['aid-to-contras'], nan_policy='omit'))
print (dem['aid-to-contras'].mean())
print (rep['aid-to-contras'].mean())

Ttest_indResult(statistic=-18.052093200819733, pvalue=2.82471841372357e-54)
0.8288973384030418
0.15286624203821655

In [0]:
#This test suggest the same results as the previous test
# I can reject the null hypothesis

In [17]:
print (ttest_ind(rep['religious-groups'], dem['religious-groups'], nan_policy='omit'))
print (dem['religious-groups'].mean())
print (rep['religious-groups'].mean())

Ttest_indResult(statistic=9.737575825219457, pvalue=2.3936722520597287e-20)
0.47674418604651164
0.8975903614457831

In [0]:
# This shows that almost half of dems supported the bill
# Whereas a vast majority of reps supported the bill
# the small p value allows me to reject the null hypothesis

In [18]:
print (ttest_ind(rep['physician-fee-freeze'], dem['physician-fee-freeze'], nan_policy='omit'))
print (dem['physician-fee-freeze'].mean())
print (rep['physician-fee-freeze'].mean())

Ttest_indResult(statistic=49.36708157301406, pvalue=1.994262314074344e-177)
0.05405405405405406
0.9878787878787879

In [0]:
# Just over half of democrats support the bill
# Whereas the overwhelming number of republicans do
#The small p value allows me to reject the null hypothesis
# This fulfills the requiremnt of part 3

In [19]:
print (ttest_ind(rep['duty-free'], dem['duty-free'], nan_policy='omit'))
print (dem['duty-free'].mean())
print (rep['duty-free'].mean())

Ttest_indResult(statistic=-12.853146132542978, pvalue=5.997697174347365e-32)
0.6374501992031872
0.08974358974358974

In [0]:
# Well it seems this bill didn't pass
# I can however still reject the null hypothesis

In [20]:
print (ttest_ind(rep['synfuels'], dem['synfuels'], nan_policy='omit'))
print (dem['synfuels'].mean())
print (rep['synfuels'].mean())

Ttest_indResult(statistic=-8.293603989407588, pvalue=1.5759322301054064e-15)
0.5058823529411764
0.1320754716981132

In [0]:
# I can reject the null hypothesis

In [21]:
print (ttest_ind(rep['el-salvador-aid'], dem['el-salvador-aid'], nan_policy='omit'))
print (dem['el-salvador-aid'].mean())
print (rep['el-salvador-aid'].mean())

Ttest_indResult(statistic=21.13669261173219, pvalue=5.600520111729011e-68)
0.21568627450980393
0.9515151515151515

In [0]:
# I can reject the null hypothesis

In [22]:
print (ttest_ind(rep['anti-satellite-ban'], dem['anti-satellite-ban'], nan_policy='omit'))
print (dem['anti-satellite-ban'].mean())
print (rep['anti-satellite-ban'].mean())

Ttest_indResult(statistic=-12.526187929077842, pvalue=8.521033017443867e-31)
0.7722007722007722
0.24074074074074073

In [0]:
# sigh
# the dems liked it the reps didn't
# I can reject the null hypothesis

In [23]:
print (ttest_ind(rep['mx-missile'], dem['mx-missile'], nan_policy='omit'))
print (dem['mx-missile'].mean())
print (rep['mx-missile'].mean())

Ttest_indResult(statistic=-16.437503268542994, pvalue=5.03079265310811e-47)
0.7580645161290323
0.11515151515151516

In [0]:
# I can reject the null hypothesis in favor of the dems

In [24]:
print (ttest_ind(rep['right-to-sue'], dem['right-to-sue'], nan_policy='omit'))
print (dem['right-to-sue'].mean())
print (rep['right-to-sue'].mean())

Ttest_indResult(statistic=13.51064251060933, pvalue=1.2278581709672758e-34)
0.2896825396825397
0.8607594936708861

In [0]:
# I can reject the null hypothesis in favor of the reps

In [25]:
print (ttest_ind(rep['education'], dem['education'], nan_policy='omit'))
print (dem['education'].mean())
print (rep['education'].mean())

Ttest_indResult(statistic=20.500685724563073, pvalue=1.8834203990450192e-64)
0.14457831325301204
0.8709677419354839

In [0]:
# I can reject the null hypothesis in favor of the reps

In [31]:
print (ttest_ind(rep['immigration'], dem['immigration'], nan_policy='omit'))
print (dem['immigration'].mean())
print (rep['immigration'].mean())

Ttest_indResult(statistic=1.7359117329695164, pvalue=0.08330248490425066)
0.4714828897338403
0.5575757575757576

In [0]:
# sooo close
# I cannot reject the null hypothesis
# Both parties are divided

In [27]:
print (ttest_ind(rep['crime'], dem['crime'], nan_policy='omit'))
print (dem['crime'].mean())
print (rep['crime'].mean())

Ttest_indResult(statistic=16.342085656197696, pvalue=9.952342705606092e-47)
0.35019455252918286
0.9813664596273292

In [0]:
# reps love it, dems not so much
# I can reject the null hypothesis

In [28]:
print (ttest_ind(rep['duty-free'], dem['duty-free'], nan_policy='omit'))
print (dem['duty-free'].mean())
print (rep['duty-free'].mean())

Ttest_indResult(statistic=-12.853146132542978, pvalue=5.997697174347365e-32)
0.6374501992031872
0.08974358974358974

In [0]:
# just over half the dems supported the bill
# whereas hardly any reps did
# I can reject the null hypothesis

In [29]:
print (ttest_ind(rep['south-africa'], dem['south-africa'], nan_policy='omit'))
print (dem['south-africa'].mean())
print (rep['south-africa'].mean())

Ttest_indResult(statistic=-6.849454815841208, pvalue=3.652674361672226e-11)
0.9351351351351351
0.6575342465753424

In [0]:
# More than half of each party supported the bill
# I can reject the null hypothesis

In [30]:
print (ttest_ind(rep['handicapped-infants'], dem['handicapped-infants'], nan_policy='omit'))
print (dem['handicapped-infants'].mean())
print (rep['handicapped-infants'].mean())

Ttest_indResult(statistic=-9.205264294809222, pvalue=1.613440327937243e-18)
0.6046511627906976
0.18787878787878787

In [0]:
# I can reject the null hypothesis
# That's all of them and I haven't found a solution for part 4?

In [32]:
print (ttest_ind(rep['water-project'], dem['water-project'], nan_policy='omit'))
print (dem['water-project'].mean())
print (rep['water-project'].mean())

Ttest_indResult(statistic=0.08896538137868286, pvalue=0.9291556823993485)
0.502092050209205
0.5067567567567568

In [0]:
# missed one.. kinda
# I cannot reject the null hypothesis
# This DOES fulfill part 4

# **Stretch Goals**

In [36]:
for str in rep:
  print(ttest_ind(rep[str], nan_policy='omit'))

TypeError: ignored